* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #dee1f2;
}

.container {
  width: 300px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  padding-bottom: 50px;
  background-color: #f4f9ff;
}

.app-title {
  width: 300px;
  height: 50px;
  border-radius: 10px 10px 0 0;
}

.app-title p {
  padding: 15px;
  margin: 0 auto;
  font-size: 1.2em;
  color: #293251;
  text-align: center;
}

.notification {
  display: none;
  background-color: #f4f9ff;
}

.notification p {
  margin: 0;
  padding: 10px 0;
  color: #dc143c;
  font-size: 1.2em;
  text-align: center;
}

.weather-container {
  width: 300px;
  height: 260px;
  background-color: #f4f9ff;
}

.weather-icon {
  width: 300px;
  height: 128px;
}

.weather-icon img {
  display: block;
  margin: 0 auto;
}

.temperature-value {
  width: 300px;
  height: 60px;
}

.temperature-value p {
  margin: 0;
  padding: 0;
  font-size: 4em;
  cursor: pointer;
  color: #293251;
  text-align: center;
}

.temperature-value p:hover {
  color: #dc143c;
}

.temperature-value span {
  color: #293251;
  font-size: 0.5em;
}

.temperature-value span:hover {
  color: #dc143c;
}

.temperature-description {
  padding: 5px;
  text-align: center;
}

.temperature-description p {
  margin: 0;
  padding: 8px;
  color: #293251;
  font-size: 1.2em;
  text-align: center;
}

.location {
  padding: 10px;
}

.location p {
  margin: 0;
  padding: 0;
  color: #293251;
  font-size: 0.8em;
  text-align: center;
}
